<div *ngFor="let review of reviews">

<div class="card">
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">{{ review?.user?.username }}:</h6>
     <p> {{ review?.content }}</p>
      <app-vote [id]="review.id" [type]="'review'"></app-vote>
      <hr>
      <h6>Comments</h6>
      <app-write-comment [id]="review.id" [type]="'review'"></app-write-comment>

      <div *ngFor="let comment of review.comments">
          <p><span class="card-subtitle mb-2 text-muted">{{ comment?.user.username }}:</span> {{ comment?.content }}</p>
          <hr>
      </div>

    </div>
  </div>
<br>
</div>
